.botao {
    background-color: #4CCD80;
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-weight: 700;
    font-size: 1rem;
   cursor: pointer;
   width: 100%;

   &:hover {
        background-color: #286c43;
   }
}