.feira {
    .informacoes {
        display: flex;
        justify-content: space-between;
    }
    
    .produtos{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 25px;
    }

    .carrinho {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
        cursor: pointer;
    }
}